*.log
.classpath
.clojurescript-output
.gems
.lein*
.project
.sass-cache
.settings
.vagrant
autodoc
certs
checkouts*
classes
config.clj
data
doc
docs
dump
gems
init-script
lib
logs
newrelic
node_modules
out
pom.xml
target
repl
.repl
reset.sh
resources/public/vendor
