*.log
.classpath
.clojurescript-output
.gems
.lein*
.project
.sass-cache
.settings
.vagrant
autodoc
certs
checkouts*
classes
config.clj
data
doc
docs
dump
gems
init-script
lib
logs
newrelic
out
pom.xml
resources/public/assets/js/jiksnu*
resources/public/cljs/
resources/public/assets/themes/
target
repl
.repl
reset.sh

