*.log
.classpath
.clojurescript-output
.gems
.lein*
.project
.settings
.vagrant
autodoc
certs
checkouts*
classes
config.clj
doc
docs
dump
gems
lib
logs
newrelic
out
pom.xml
resources/public/assets/js/jiksnu*
target
