{
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 :default
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 {
  :database
  {
   :host                "localhost"
   }
  :debug                false
  :print
  {
   :actions             false
   :matchers            false
   :params              false
   :predicates          false
   :request             false
   :triggers            false
   }
  :registration-enabled true
  :run-triggers         true
  :swank
  {
   :port                "4005"
   }
  :triggers
  {
   :thread-count        1
   }
  :use-pipeline         true
  }

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 :development
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 {
  :database
  {
   :name                :jiksnu_development
   }
  :domain               "beta.jiksnu.com"
  :print
  {
   :actions             true
   :triggers            true
   }
  :http
  {
   :port                8082
   }
  :registration-enabled false
  }

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 :test
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 {
  :database
  {
   :name                :jiksnu_test
   }
  :domain               "test.jiksnu.com"
  :print
  {
   :actions             true
   :initializers        true
   :triggers            true
   }
  :http
  {
   :port                8082
   }
  :registration-enabled false
  :run-triggers         false
  }
 }
