;; -*- mode: clojure -*-
{
 :default

 {:admins ["admin"]
  :airbrake {:key ""}
  :ciste.services.nrepl/port 7888,
  :database {:host "localhost"},
  :debug false,
  :domain "jiksnu.com"
  :htmlOnly false
  :http {:port 8080, :websocket true, :handler "jiksnu.routes/app"},
  :modules ["jiksnu.routes" "jiksnu.views"
            "jiksnu.formats" "jiksnu.actions"],
  :print {:actions false,
          :matchers false,
          :packet false,
          :predicates false,
          :request false,
          :routes false,
          :triggers false},
  :registration-enabled true,
  :run-triggers true,
  :salmon {:verify true},
  :services ["ciste.service.aleph" "ciste.service.swank"
             "ciste.services.nrepl" "ciste.service.tigase"],
  :site {:available-themes ["amelia" "cerulean" "classic" "cyborg"
                            "journal" "readable" "simplex" "slate"
                            "spacelab" "spruce" "superhero" "united"],
         :brought-by {:name "Jiksnu", :url "http://jiksnu.org/"},
         :closed false,
         :default {:timezone "+0:00", :language "en-us"},
         :email "admin@jiksnu.com",
         :limit {:text 140, :dupe 60},
         :invite-only false,
         :name "Jiksnu",
         :private false,
         :theme "classic"},
  :swank {:port "4005"},
  :triggers {:thread-count 1},
  :use-pipeline true,
  :xmpp {:c2s [5222],
         :s2s [5269],
         :auth-db "jiksnu.xmpp.user_repository",
         :user-db "jiksnu.xmpp.user_repository",
         :plugins ["jiksnu" "message"],
         :components [{:name "channels", :class "jiksnu.xmpp.channels"}]},
  }
 }
