version: '2'
services:
  mongo:
    image: mongo

  web:
    build: .
    image: repo.jiksnu.org/kronkltd/jiksnu
    depends_on:
      - mongo
    environment:
      JIKSNU_DB_NAME: "jiksnu_docker"
      VIRTUAL_HOST: "jiksnu.docker"
      DOMAIN: jiksnu.docker

volumes:
  mongo-data:
    driver: local
