body
{
    padding-left: 10px;
    padding-right: 10px;
    font-color: black;
    background-color: steelBlue;
}

.devel-section {
    background-color: yellow;
    border: 2px solid black;
    color: black;
    margin-bottom: 5px;
    padding: 2px;
    text-align: center;
}

#wrap {
    margin: 0 auto;
    max-width: 1300px;
    min-width: 760px;
    overflow: hidden;
    width: 100%;
}

a img {
    border: none;
}

.aside {
    float: right;
    background-color: whitesmoke;
    width: 29%;
    margin-left: 5px;
    border: 2px solid black;
    padding: 0 3px;
}

.content
{
    font-color: black;
    background-color: steelBlue;
    margin: 0 auto;
    width: 80%;
}

/* #content */
/* { */
/*     width: 300px; */
/*     height: 70px; */
/* } */

.activities {
    padding-left: 0px;
    width: 70%;
}

.activities li {
    list-style-type: none;
}

nav ul li
{
    display: inline;
    width: 100%;
    margin-right: 5px;
}

.post-activity
{
    border: 1px solid black;
    margin-bottom: 10px;
}

article
{
    display: block;
    background-color: white;
    border-size: 1px;
    border-style: solid;
    position: relative;
    /* border: 1px solid red; */
    margin-bottom: 15px;
    min-height: 60px;
    -moz-box-shadow:5px 7px 7px rgba(194, 194, 194, 0.3);
    -moz-border-radius: 0 7px 7px 7px;
}

article header
{
    display: inline;
    margin-left: 50px;
/* width: 30%; */
/* float: left; */
}

article section
{
    display: inline;
    margin-left: 50px;
    /* width: 70%; */
    /* float: left; */
}

section
{
    display: block;
    margin-left: 50px;
}

.actor
{
    display: inline;
}

.activities .avatar {
    /* top: 1px; */
    /* left: 1px; */
    /* position: absolute; */
    float: left;
}

/* .avatar */
/* { */
/*     float: left; */
/*     width: 50px; */
/* } */

.notice .vcard {
    float: left;
}

.notice .vcard .url > .fn
{
    margin-left: 50px;
}

.privacy
{
    float: right;
}


.entry-content, .entry-title
{
    margin-left: 50px;
}

body > header
{
    display: block;
    margin-bottom: 10px;
}

.login
{
    /* float: right; */
}

nav
{
    /* float: left; */
}

section.content
{
    width: 69%;
    margin: 0 auto;
}

.recipients
{
    display: inline;
    margin-left: 10px;
}

.recipients ul
{
    display: inline;
}

.recipient
{
    display: inline;
    margin-right: 10px;
}

.value
{
    margin: 0;
}

.comments
{
    /* clear: both; */
    margin-left: 15px;
}

.comments ul
{
    margin: 0;
    padding: 0;
}

.comments ul li
{
    list-style-type: none;
}

.comment-form
{
    width: 100%;
}

article footer
{
    clear: none;
    width: 100%;
    display: block;
}

article footer .buttons li
{
    display: inline;
    margin-right: 5px;
}

.publish-actions
{
    float: right;
}

.hidden
{
    display: none;
}

.buttons li form {
    display: inline;
}
