body
{
    font-color: black;
}

#wrap, body {
    background-color: #4444ee;
}

#wrap > footer {
    background-color: white;
}

.devel-section {
    color: orange;
    background-color: #1c3044;
    border: 2px solid black;
}

#content {
    background-color: white;
}

.aside, article, nav ul li {
    background-color: white;
}

.aside {
/*     border: 2px solid black; */
    background-color: lightgoldenrodyellow;
}

.post-form {
    background-color: white;
}

nav ul li {
    border-color: black;
}

.post-activity {
    border-color: black;
}






body
{
    padding-left: 10px;
    padding-right: 10px;
}


#wrap {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 760px;
    overflow: hidden;
    width: 100%;
    padding: 0 5px 5px 5px;
}

#wrap > header
{
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    padding-top: 2em;
}

#login-section
{
    position: absolute;
    right: 1px;
    top: 1px;
/* width: 20%; */
}

#login-section p {
    margin: 0;
}

#site_contact {
    width: 240px;
    display: inline;
    float: left;
}

.post-form {
    width: 50%;
    float: left;
    /* margin: 0 auto; */
}

.post-form ul {
    padding: 0px;
}

.type-buttons, .add-buttons {
    padding: 0px;
    display: inline;
}

.type-buttons li, .add-buttons li {
    display: inline;
    list-style-type: none;
    margin-left: 5px;
}

.post-form ul li {
    list-style-type: none;
    width: 100%;
}

.post-form ul li label {
    width: 30%;
}

.post-form ul li input {
    width: 30%;
    position: relative;
    right: 0px;
}

.post-form #content {
    width: 100%;
}

nav
{
    /* float: left; */
    /* margin: 0 0 -15px 0; */
}

#wrap > nav ul {
    margin: 0;
    padding-left: 0;
}

nav ul li
{
    display: inline;
    width: 100%;
    margin-right: 5px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    padding: 3px;
}

.devel-section {
    margin-bottom: 5px;
    padding: 2px;
    text-align: center;
}

.post-activity
{
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
}

#notices_primary {
    margin-right: 15px;
    padding: 5px;
}

div.content
{
    margin: 0 0 0 15px;
    /* width: 80%; */
}

.map {
    display: none;
}

/* #content */
/* { */
/*     width: 300px; */
/*     height: 70px; */
/* } */

.aside {
    float: right;
    width: 29%;
    margin-left: 15px;
    padding: 0 3px;
}

/* .subscription-sections form { */
/*     display: none; */
/* } */

.activities {
    padding-left: 0px;
    width: 70%;
}

.activities li {
    list-style-type: none;
}

article
{
    display: block;
    /* border-size: 1px; */
    /* border-style: solid; */
    position: relative;
    /* border: 1px solid red; */
    margin-bottom: 15px;
    min-height: 60px;
    /* -moz-box-shadow:5px 7px 7px rgba(194, 194, 194, 0.3); */
    /* -moz-border-radius: 0 7px 7px 7px; */
}

article section.content
{
    /* display: inline; */
    margin-left: 60px;
    /* width: 70%; */
    /* float: left; */
    display: block;
}

.entry-content {
    margin-top: 8px;
}

.activities .avatar {
    float: left;
}

.actor
{
    display: inline;
}

.privacy
{
    position: absolute;
    right: 0px;
    top: 0px;
}

.tags ul {
    display: inline;
    padding: 0px;
}

.tags li {
    list-style-type: none;
    display: inline;
    margin-left: 1em;
}

.comments
{
    /* clear: both; */
    margin-left: 15px;
}

.comments p
{
    display: inline;
}

.comments form {
    display: inline;
}

.comments ul
{
    margin: 0;
    padding: 0;
}

.comments ul li
{
    list-style-type: none;
}

.comments .notice {
    border: none;
}

.comments .notice footer {
    display: none;
}

.comment-form
{
    width: 100%;
}

article footer
{
    clear: none;
    width: 100%;
    display: block;
    /* margin-left: -40px; */
}

.buttons {
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.delete-button input {
    background: transparent url(/public/silk/delete.png) no-repeat center top;
    width: 16px;
    height: 16px;
    text-indent: -1000em;
    border: 0;
    padding: 0;
}

article footer .buttons li
{
    display: inline;
    margin-right: 3px;
}

.publish-actions
{
    float: right;
}

.clear {
    clear: both;
}

a img {
    border: none;
}

.recipients
{
    display: inline;
    margin-left: 10px;
}

.recipients ul
{
    display: inline;
}

.recipient
{
    display: inline;
    margin-right: 10px;
}

.value
{
    margin: 0;
}

.hidden
{
    display: none;
}

.buttons li form {
    display: inline;
}


footer {
    clear: both;
    width: 100%;
}

.formats {
    width: 100%;
}

.formats ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.formats ul li {
    list-style-type: none;
    display: inline;
}
