[:div {:layout "row" :flex "" :layout-align "center" :ng-show "visible()" :title "add-post-form"}
 [:form  {:ng-submit "submit()" :name "activityForm" :flex "50" :layout "column"}
  [:input {:type "hidden" :ng-model "source"}]

  [:md-content {:ng-hide "form.shown"}
   [:md-input-container
    [:input#placeholderInput
     {:type "text" :placeholder "What are you doing?" :ng-click "toggle()"}]]]

  [:div {:ng-show "form.shown"}
   [:debug {:expr "activity"}]
   [:debug {:expr "form"}]

   [:div
    [:md-input-container.md-block
     [:label "Title"]
     [:input {:type "text" :ng-model "activity.title"}]]]

   [:div
    [:md-input-container.md-block
     [:label "Content"]
     [:textarea {:rows "5" :ng-model "activity.content"}]]]

   [:md-content
    [:md-list
     [:md-list-item
      [:ng-md-icon {:icon "add_box"}]
      [:p "Tags"]
      [:md-switch.md-secondary {:ng-model "form.add.tags"}]]
     [:md-list-item
      [:ng-md-icon {:icon "add_box"}]
      [:p "Recipients"]
      [:md-switch.md-secondary {:ng-model "form.add.recipients"}]]
     [:md-list-item
      [:ng-md-icon {:icon "add_box"}]
      [:p "Location"]
      [:md-switch.md-secondary {:ng-model "form.add.location"}]]
     #_
     [:md-list-item
      [:ng-md-icon {:icon "add_box"}]
      [:p "Links"]
      [:md-switch.md-secondary {:ng-model "form.add.links"}]]
     [:md-list-item
      [:ng-md-icon {:icon "add_box"}]
      [:p "Pictures"]
      [:md-switch.md-secondary {:ng-model "form.add.pictures"}]]]]

   [:div {:ng-show "form.add.pictures"}
    [:md-input-container.md-block
     [:lf-ng-md-file-input {:lf-files "files" :multiple "" :aria-label "fileupload" :preview ""}]]]

   [:div {:ng-show "form.add.location"}
    [:md-input-container
     [:label "Latitude"]
     [:input {:type "text" :ng-model "activity.geo.latitude"}]]
    [:md-input-container
     [:label "Longitude"]
     [:input {:type "text" :ng-model "activity.geo.longitude"}]]]

   [:div {:ng-show "form.add.tags"}
    [:md-input-container.md-block
     [:label "Tags"]
     [:input {:type "text" :name "tags" :ng-model "tag"}]]
    [:md-button {:ng-click "addTag()"} "Add Tags"]]

   [:div
    [:debug {:expr "streams"}]
    [:ui-select {:multiple ""
                 :ng-model "activity.streams"
                 :style "width: 800px;"}
     [:ui-select-match {:placeholder "Select Streams"}
      [:as-model {:model "stream" :data-id "{{$item}}"}
       "{{$parent.item.name}}"]]
     [:ui-select-choices {:repeat "id in streams.items"}
      [:as-model {:model "stream" :data-id "{{id}}"}
       "{{$parent.item.name}}"]]]

    [:md-select {:name "privacy" :ng-model "activity.privacy" :aria-label "privacy"}
     [:option {:value "public"} "Public"]
     [:option {:value "group"} "Group"]
     [:option {:value "custom"} "Custom"]
     [:option {:value "private"} "Private"]]]

   [:div
    [:group-select]]

   [:div
    [:md-input-container {:layout-align "end" :layout "row"}
     [:md-button.md-raised.md-warn {:ng-click "toggle()"} "Cancel"]
     [:md-button.md-primary.md-raised {:type "submit"} "Post"]]]]]]
