[:form {:method "post" :name "groupForm" :ng-submit "submit()" :layout "row"
        :layout-align "center" :layout-padding "" :flex "50"}
 [:debug {:expr "groupForm"}]
 [:debug {:expr "group"}]
 [:md-content
  [:md-input-container.md-block
   [:label "name"]
   [:input {:type "text" :ng-model "group.name"}]]
  [:md-input-container.md-block
   [:label "Full Name"]
   [:input {:type "text" :ng-model "group.fullname"}]]
  [:md-input-container.md-block
   [:label "Homepage"]
   [:input {:type "text" :ng-model "group.homepage"}]]
  [:md-input-container.md-block
   [:label "Description"]
   [:textarea {:name "description"}]]
  [:md-input-container.md-block
   [:label "Location"]
   [:input {:type "text" :ng-model "group.location"}]]
  [:md-input-container
   [:input.md-button.md-raised.md-primary {:type "submit" :value "Add"}]
   [:md-button.md-raised {:ng-click "reset()"} "Reset"]]]]
