[:div {:title "add-album-form"}
 [:form {:ng-submit "submit()" :name "albumForm" :layout "row" :flex ""}
  [:debug {:expr "albumForm"}]
  [:debug {:expr "album"}]
  [:md-input-container.md-block
   [:label {:for "name"} "Name"]
   [:input {:type "text" :ng-model "album.name" :name "name"}]]
  [:md-input-container
   [:input.md-button.md-primary.md-raised {:type "submit" :value "Submit"}]]]]
