  [:table.table
   [:thead
    [:tr
     [:th "Id"]
     [:th "Title"]
     [:th "Domain"]
     [:th "Topic"]
     [:th "Status"]
     [:th "Actions"]]]
   [:tbody
    [:tr {:ng-repeat "source in page.items"}
     [:td
      [:jiksnu-link-to {:data-id "{{source.id}}" :data-model "FeedSource"}]]
     [:td
      [:a {:title "{{source.title}}" :ui-sref "adminSource(source)"}
       "{{source.title}}"]]
     [:td "{{source.domain}}"]
     [:td
      [:a {:href "{{source.topic}}"}
       "{{source.topic}}"]]
     [:td "{{source.status}}"]
     [:td #_(actions-section item)]]]]
