[:div {:title "authorize-client"}
 [:h1 "Authorize Client"]
 [:debug {:expr "id"}]
 [:debug {:expr "item"}]
 [:show-request-token {:data-id "{{id}}"}]
 [:form {:name "authorizeForm" :ng-submit "submit()" :flex "" :layout "column"}
  [:debug {:expr "authorizeForm"}]
  [:div
   [:md-input-container
    [:label "Token Id"]
    [:input {:type "text" :disabled "" :ng-model "id"}]]]
  [:div
   [:md-input-container
    [:label "Verifier"]
    [:input {:type "text" :ng-model "item.verifier"}]]
   [:md-button.md-icon-button {:clipboard "" :text "item.verifier"}
    [:ng-md-icon {:icon "content_copy"}]]]
  [:div
   [:input.md-button.md-primary.md-raised {:type "submit" :value "Approve"}]
   [:md-button.md-warn.md-raised "Deny"]]]]
