[:div {:title "authorize-client"}
 [:h1 "Authorize Client"]
 [:debug {:expr "id"}]
 [:debug {:expr "item"}]
 [:show-request-token {:data-id "{{id}}"}]
 [:form {:name "authorizeForm" :ng-submit "submit()"}
  [:debug {:expr "authorizeForm"}]
  [:div
   [:label "Token Id"]
   [:input {:disabled "" :ng-model "id"}]]
  [:div
   [:label "Verifier"]
   [:input {:ng-model "item.verifier"}]
   [:button {:clipboard "" :text "item.verifier"} "Copy"]]
  [:div
   [:button.btn.btn-success "Approve"]
   [:button.btn.btn-danger "Deny"]
   ]]
 ]
