  [:form {:method "post" :action "/settings/avatar"}
   [:fieldset
    [:legend "Upload Avatar"]
    [:div.clearfix
     [:label {:for "avatar"} "Image"]
     [:div.input
      [:input {:type "file" :name "avatar"}]]]
    [:div.actions
     [:input {:type "submit" :value "Submit"}]]]]
