[:div.debug-section {:ng-show "visible()"}
 [:p.debug-label {:ng-click "isCollapsed = !isCollapsed"}
  ;; [:i {:ng-class "{isCollapsed: "}]
  "{{state}} {{exprText}}"]
 [:div {:hljs "" :hljs-source "formattedCode()"
        :uib-collapse "isCollapsed"}]]
