  [:a.url {:href "/remote-user/{{user.username}}@{{user.domain}}"
           :title "acct:{{user.username}}@{{user.domain}}"}
   [:img.avatar.photo
    {:width 64
     :height 64
     :alt ""
     :ng-src "{{user.image[0].url}}"}]]
