[:div {:title "follow-button"}
 [:debug {:expr "authenticated"}]
 [:debug {:expr "actor"}]
 [:div {:ng-if "authenticated"}
  [:div {:ng-if "actor"}
   [:p "This is you"]]
  [:div {:ng-if "!actor"}
   [:form {:name "followButton" :ng-submit "submit()"}
    [:md-button.md-primary {:type "submit"}
     "{{followLabel}}"]]]]]
