[:div {:title "index-activities"}
 [:h1 "Activities"]
 [:button.btn {:ng-click "refresh()"} "Refresh"]
 [:debug {:expr "page"}]
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:div {:ng-repeat "id in page.items"}
   [:debug {:expr "id"}]
   [:show-activity {:data-id "{{id}}"}]]]]
