[:div
 [:h1 "Index Feed Sources"]
 [:table.table
  [:thead
   [:tr
    [:th "Topic"]
    [:th "Status"]
    [:th "Local"]]]
  [:tbody
   [:tr {:ng-repeat "item in page.items"}
    [:td "{{item.topic}}"]
    [:td "{{item.status}}"]
    [:td "{{item.local}}"]]]]]
