[:div {:title "index-subscriptions"}
 [:h1
  [:span "Subscriptions"]
  [:button.btn.pull-right {:ng-click "refresh()"} "Refresh"]]
 [:debug {:expr "page"}]
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:ul
   [:li {:ng-repeat "id in page.items" :title "index-subscriptions repeat"}
    [:debug {:expr "id"}]
    [:show-subscription {:data-id "{{id}}"}]]]]]
