  [:ul.profiles
   [:li {:ng-repeat "group in page.items"}
    [:section.profile.hentry.vcard
     {:data-model "group"}
     [:p
      [:a.url.entry-title
       {:href "/main/groups/{{group.nickname}}"}
       [:img {:ng-src "{{group.avatarUrl}}"}]
       [:span.nickname
        "{{group.fullname}} ({{group.nickname}})"]]]
     [:a.url {:href "{{group.homepage}}"}
      "{{group.homepage}}"]
     [:p.note "{{group.description}}"]]]]
