[:div {:title "index-groups"}
 [:h1
  [:span "Groups"]
  [:button.btn.pull-right {:ng-click "refresh()"} "Refresh"]]
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:debug {:expr "page"}]
  [:ul.profiles
   [:li {:ng-repeat "group in page.items"}
    [:debug {:expr "group"}]
    [:show-group-minimal {:data-id "{{group}}"}]
    #_[:section.profile.hentry.vcard
     [:p
      [:a.url.entry-title {:ui-sref "showGroup(group._id)"}
       [:img {:ng-src "{{group.avatarUrl}}"}]
       [:span.nickname
        "{{group.name}} ({{group.nickname}})"]]]
     [:a.url {:href "{{group.homepage}}"}
      "{{group.homepage}}"]
     [:p.note "{{group.description}}"]]]
   ]
  [:add-group-form]]]
