([:div.title-section {:layout "row" :flex ""}
  [:div {:flex ""}
   [:h1.md-headline {:layout-padding ""} "Services"]]
  [:div {:layout-align "end"}
   [:md-button.md-icon-button {:ng-click "refresh()" :aria-label "Refresh" :layout-align "start end"}
    [:ng-md-icon {:icon "loop"}]]]]
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:debug {:expr "page"}]
  [:md-list
   [:md-list-item {:ng-repeat "id in page.items" :ui-sref "showService({_id: id})"}
    [:debug {:expr "id"}]
    [:show-group-minimal {:data-id "{{id}}"}]]]
  [:add-service-form {:ng-show "app.user"}]])
