[:div {:title "index-likes"}
 [:h1
  [:span "Index Likes"]
  [:button.btn.pull-right {:ng-click "refresh()"} "Refresh"]
  ]

 [:debug {:expr "page"}]
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:div {:ng-repeat "id in page.items"}
   [:debug {:expr "id"}]
   [:show-like {:data-id "{{id}}"}]]]
 ]
