[:div {:title "index-clients"}
 [:section {:layout "row" :flex ""}
  [:h1 {:layout "column" :flex ""} "Clients"]
  [:div {:layout "column" :flex ""}]
  [:div {:layout "column" :flex "10" :layout-align "right"}
   [:md-button {:ng-click "refresh()" :aria-label "Refresh"}
    [:ng-md-icon {:icon "loop"}]]]]
 [:div {:ng-hide "loaded"} [:spinner]]
 [:div {:ng-show "loaded"}
  [:debug {:expr "page"}]
  [:md-list.list-unstyled
   [:md-list-item {:ng-repeat "id in page.items"}
    [:debug {:expr "id"}]
    [:show-client-minimal {:data-id "{{id}}"}]]]]]
