[:div
 [:h2 "Index Users"]
 [:table.table.users
  [:thead]
  [:tbody
   [:tr {:ng-repeat "user in page.items"}
    [:td
     [:div
      [:display-avatar {:data-id "{{user.id}}"}]]
     [:div
      [:p
       [:link-to {:data-id "{{user.id}}" :data-model "User"}]]
      [:p "{{user.username}}@{{user.domain}}"]
      [:p "{{user.id}}"]
      [:p "{{user.name}}"]
      [:p "{{user.uri}}"]
      [:p "{{user.bio}}"]]]
    [:td #_(actions-section user)]]]]]
