  [:div
   [:pagination-section]
   [:table.table.feed-sources
    [:thead
     [:tr
      [:th "Title"]
      [:th "Domain"]
      [:th "Topic"]
      [:th "Hub"]
      #_[:th "Mode"]
      [:th "Status"]
      [:th "Watchers"]
      [:th "Updated"]
      [:th "Actions"]]]
    [:tbody
     [:tr {:ng-repeat "source in page.items"}
      [:td
       [:link-to {:data-id "{{source.id}}" :data-model "FeedSouce"}]]
      [:td "{{source.domain}}"]
      [:td
       [:a {:href "{{source.topic}}"}
        "{{source.topic}}"]]
      [:td "{{source.hub}}"]
      #_[:td "{{source.mode}}"]
      [:td "{{source.status}}"
       ]
      [:td "{{source.watchers.length}}"]
      [:td "{{source.updated}}"]
      [:td
       #_(actions-section source)]]]]]
