([:section {:layout "row" :flex ""}
  [:h3 {:layout "column" :flex ""} "Pictures"]
  [:div {:layout "column" :flex ""}]
  [:div {:layout "column" :flex "10" :layout-align "right"}
   [:md-button {:ng-click "refresh()" :aria-label "Refresh"}
    [:ng-md-icon {:icon "loop"}]]]]
 [:subpage {:name "pictures" :item "$ctrl.item"}
  [:debug {:expr "$parent.page"}]
  [:div {:ng-hide "$parent.loaded"} [:spinner]]
  [:div {:ng-show "$parent.loaded"}
   [:md-list
    [:md-list-item {:ng-repeat "id in $parent.$parent.page.items"}
     [:debug {:expr "id"}]
     [:show-picture {:data-id "{{id}}"}]]]]])
