[:div
 [:h3 "Following"]
 [:subpage {:name "following" :item "item"}
  [:debug {:expr "$parent.page"}]
  [:ul
   [:li {:ng-repeat "id in $parent.page.items"}
    [:debug {:expr "id"}]
    [:show-following-minimal {:data-id "{{id}}"}]]]]]
