[:div {:title "list-streams"}
 [:h3 "Streams" [:button.btn.pull-right {:ng-click "toggle()"} "{{btnLabel}}"]]
 [:form {:ng-submit "addStream()" :name "addStreamForm" :ng-show "formShown"}
  [:debug {:expr "stream"}]
  [:input {:ng-model "stream.userId" :name "user" :type "hidden"}]
  [:input {:ng-model "stream.name" :name "name" :type "text"}]
  [:input.btn.btn-default {:type "submit"}]]
 [:subpage {:name "streams" :item "item"}
  [:debug {:expr "$parent.page"}]
  [:button.btn {:ng-click "$parent.refresh()"} "Refresh"]
  [:div {:ng-if "!$parent.loaded"} [:spinner]]
  [:div {:ng-if "$parent.loaded"}
   [:table.table
    [:tr {:ng-repeat "id in $parent.$parent.page.items"}
     [:td
      [:show-stream-minimal {:data-id "{{id}}"}]
      [:debug {:expr "id"}]]
     [:td
      [:button.btn.btn-default {:ng-click "deleteStream(id)"}
       [:i.glyphicon.glyphicon-trash]]]]]]]]
