[:div {:title "list-followers" :layout "column" :flex ""}
 [:section {:layout "row" :flex ""}
  [:h3 {:layout "column" :flex ""} "Followers"]
  [:div {:layout "column" :flex ""}]
  [:div {:flex "10" :layout "column" :layout-align "right"}
   [:md-button {:ng-click "refresh()" :aria-label "Refresh"}
    [:ng-md-icon {:icon "loop"}]]]]
 [:subpage {:name "followers" :item "$ctrl.item" :title "list-followers followers-subpage"}
  [:debug {:expr "$parent.page"}]
  [:div {:ng-if "!$parent.loaded"} [:spinner]]
  [:md-list {:ng-if "$parent.loaded"}
   [:md-list-item {:ng-repeat "id in $parent.$parent.page.items"}
    [:debug {:expr "id"}]
    [:show-followers-minimal {:data-id "{{id}}"}]]]]]
