[:div {:title "list-groups" :layout "column" :flex ""}
 [:section {:layout "rox" :flex ""}
  [:h3 {:layout "column" :flex ""} "Groups"]
  [:div {:layout "column" :flex ""}]
  [:div  {:layout "column" :flex "10" :layout-align "right"}
   [:md-button {:ng-click "refresh()" :aria-label "Refresh"}
    [:ng-md-icon {:icon "loop"}]]]]
 [:subpage {:name "groups" :item "item"}
  [:debug {:expr "$parent.page"}]
  [:div {:ng-hide "$parent.loaded"} [:spinner]]
  [:div {:ng-show "$parent.loaded"}
   [:md-list
    [:md-list-item {:ng-repeat "id in $parent.$parent.page.items"}
     [:debug {:expr "id"}]
     [:show-group-minimal {:data-id "{{id}}"}]]]]]]
