[:div
 [:h3 "Streams" [:i.btn {:ng-click "toggle()"} "{{btnLabel}}"]]
 [:form {:ng-submit "addStream()" :name "addStreamForm" :ng-show "formShown"}
  [:debug {:expr "stream"}]
  [:input {:ng-model "stream.userId" :name "user" :type "hidden"}]
  [:input {:ng-model "stream.name" :name "name" :type "text"}]
  [:input.btn.btn-default {:type "submit"}]]
 [:subpage {:name "streams" :item "item"}
  [:table
   [:tr {:ng-repeat "id in $parent.page.items"}
    [:td
     [:show-stream-minimal {:data-id "{{id}}"}]]
    [:td
     [:button.btn.btn-default {:ng-click "deleteStream(id)"}
      [:i.glyphicon.glyphicon-trash]]]]]]]
