[:div
 [:h3 "Groups"]
 [:subpage {:name "groups" :item "item"}
  [:debug {:expr "$parent.page"}]
  [:ul
   [:li {:ng-repeat "id in $parent.page.items"}
    [:debug {:expr "id"}]
    [:show-group-minimal {:data-id "{{id}}"}]]]]]
