[:div {:layout "row" :flex "" :layout-align "center"}
 [:form {:ng-submit "login()" :name "loginForm" :layout "column" :flex "35"}
  [:div {:flex "" :layout "row" :layout-align "center"}
   [:h1.md-heading "Sign In"]]
  [:md-input-container.md-block {:flex ""}
   [:label "Username"]
   [:input {:type "text" :name "username" :ng-model "username"}]]
  [:md-input-container.md-block {:flex ""}
   [:label "Password"]
   [:input {:type "password" :name "password" :ng-model "password"}]]
  [:input.md-button.md-raised.md-primary.loginLink {:type "submit"}]]]
