[:div.col-xs-6.col-xs-offset-3
 [:form {:ng-submit "login()" :name "loginForm"}
  [:h2.text-center "Please Sign In"]
  [:div.form-group
   [:label.sr-only {:for "username"} "Username"]
   [:input.form-control
    {:type "text"
     :name "username"
     :ng-model "username"
     :placeholder "username"}]]
  [:div.form-group
   [:label.sr-only {:for "password"} "Password"]
   [:input.form-control
    {:type "password"
     :name "password"
     :ng-model "password"
     :placeholder "password"
     }]]
  [:input.btn.btn-custom.btn-lg.btn-block
   {:type "submit"}]]
 ]
