[:md-toolbar {:md-scroll-shrink ""}
 [:div.md-toolbar-tools
  [:md-button.md-icon-button {:aria-label "Settings" :ng-click "toggleSidenav()"}
   [:ng-md-icon {:icon "menu"}]]
  [:h2 [:span "{{app.name}}"]]
  [:span {:flex ""}]
  [:div {:ng-if "loaded"}
   [:div {:ng-if "app.user"}
    [:display-avatar.navbar-btn
     {:ng-if "app.user" :data-id "{{app2.getUserId()}}"}]]
   [:div {:ng-if "!app.user"}
    [:md-button {:ui-sref "loginPage"} "Login"]
    [:md-button {:ui-sref "registerPage"} "Register"]]]]]
