[:div.conversations
 [:debug {:expr "page"}]
 [:div.conversation-section {:ng-repeat "conversation in page.items"}
  [:div {:ng-repeat "activity in conversation.activities.items"}
   [:show-activity {:data-id "{{activity}}"}]]]]
