[:form.well.form-horizontal.register-form {:ng-submit "register()"}
 [:fieldset
  [:legend "Register"]
  [:div.form-group
   [:label.sr-only {:for "username"} "Username"]
   [:input.form-control.input-lg
    {:ng-model "reg.username"
     :type "text"
     :name "username"
     :placeholder "Username"}]]
  [:div.form-group
   [:label.sr-only {:for "password"} "Password"]
   [:input.form-control
    {:ng-model "reg.password"
     :type "password"
     :name "password"}]]
  [:div.form-group
   [:label.sr-only "Confirm Password"]
   [:input.form-control
    {:ng-model "reg.confirmPassword"
     :type "password"
     :name "confirmPassword"}]]
  [:div.form-group
   [:label.sr-only "Email"]
   [:input.form-control
    {:ng-model "reg.email"
     :type "email"
     :name "email"}]]
  [:div.form-group
   [:label.sr-only "Display Name"]
   [:input.form-control {:ng-model "reg.displayName" :type "text"}]]
  [:div.form-group
   [:label "I have checked the box"]
   [:input.form-control {:ng-model "reg.accepted" :type "checkbox"}]]
  [:div.actions
   [:input.btn.primary {:type "submit" :value "Register"}]]]]
