  [:div
   [:h1 "Settings"]
   [:form.well.form-horizontal
    {:method "post" :action "/admin/settings"}
    [:fieldset
     [:legend "Settings Page"]
     (control-line "Site Name"
                   "site.name" "text"
                   :value (config :site :name))
     (control-line "Domain"
                   "domain" "text"
                   :value (config :domain))
     (control-line "Admin Email"
                   "site.email" "text"
                   :value (config :site :email))
     (control-line "Brought By Name"
                   "site.brought-by.name" "text"
                   :value (config :site :brought-by :name))
     (control-line "Brought By Url"
                   "site.brought-by.url" "text"
                   :value (config :site :brought-by :url))
     (control-line "Print Actions"
                   "print.actions" "checkbox"
                   :checked (config :print :actions))
     (control-line "Print Request"
                   "print.request" "checkbox"
                   :checked (config :print :request))
     (control-line "Print Routes"
                   "print.routes" "checkbox"
                   :checked (config :print :routes))
     (control-line "Print Triggers"
                   "print.triggers" "checkbox"
                   :checked (config :print :triggers))
     (control-line "Allow registration?"
                   "registration-enabled" "checkbox"
                   :checked (config :registration-enabled))
     (control-line "Private"
                   "site.private" "checkbox"
                   :checked (config :site :private))
     (control-line "Closed"
                   "site.closed" "checkbox"
                   :checked (config :site :closed))
     (control-line "Limit"
                   "site.limit.text" "text"
                   :value (config :site :limit :text))
     (control-line "Dupe"
                   "site.limit.dupe" "text"
                   :value (config :site :limit :dupe))
     (control-line "Swank Port"
                   "swank.port" "text"
                   :value (config :swank :port))
     (control-line "HTML only?"
                   "htmlOnly" "checkbox"
                   :checked (config :htmlOnly))
     [:div.actions
      [:input {:type "submit"}]]]]]
