[:table.table
 [:thead]
 [:tbody
  [:tr
   [:th "Id"]
   [:td "{{domain._id}}"]]
  [:tr
   [:th "XMPP"]
   [:td "{{domain.xmpp}}"]]
  [:tr
   [:th "Discovered"]
   [:td "{{domain.discovered}}"]]
  [:tr
   [:th "Created"]
   [:td "{{domain.created}}"]]
  [:tr
   [:th "Updated"]
   [:td "{{domain.updated}}"]]
  [:tr
   [:th "License"]
   [:td
    ;; RDFa
    [:a {:href "{{domain.license.url}}"
         :title "{{domain.license.title}}"}
     [:img {:src ""
            :alt ""}]]]]]]

