[:div.well {:title "show-like"}
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:debug {:expr "item"}]
  [:p "User: " [:show-user-minimal {:data-id "{{item.user}}"}]]
  [:p "To: " [:show-activity {:data-id "{{item.activity}}"}]]
  [:div.action-buttons
   [:button.btn {:ng-click "deleteRecord(item)"} "Delete Like"]]]]
