[:div {:title "show-group"}
 [:div {:ng-hide "loaded"} [:spinner]]
 [:div {:ng-show "loaded"}
  [:debug {:expr "item"}]
  [:h2 "{{item.name}}"]
  [:p "{{item.homepage}}"]
  [:p "{{item.location}}"]
  [:p "{{item.aliases}}"]
  [:p "Created: "
   [:time "{{item.created}}"]
   ]
  [:p "{{item.updated}}"]
  [:md-button.md-raised.md-primary {:ng-click "join()"} "Join"]
  [:list-group-admins {:item "item"}]
  [:list-group-members {:item "item"}]
  #_
  [:div
   [:h3 "Admins {{item.admins.length}}"]
   [:div
    [:form {:name "addAdmin" :ng-submit "addAdmin()"}
     [:input {:ng-model "id"}]
     [:input.btn.btn-default {:type "submit"}]]]
   [:ul
    [:li {:ng-repeat "user in item.admins"}
     [:a {:ui-sref "showUser({_id: user})"}
      "{{user}}"]]]]
  #_
  [:div
   [:h3 "Members {{item.members.length}}"]
   [:div
    [:form {:name "addMember" :ng-submit "addMember()"}
     [:input {:ng-model "id"}]
     [:input.btn.btn-default {:type "submit"}]]]
   [:ul
    [:li {:ng-repeat "user in item.members"}
     [:a {:ui-sref "showUser({_id: user})"}
      "{{user}}"]]]]
  [:div.action-buttons
   [:md-button {:ng-click "deleteRecord()" :aria-label "Delete Group" :ng-show "app.user"}
    [:ng-md-icon {:icon "delete"}]]]]]
