[:div.well {:title "show-subscription"}
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:debug {:expr "item"}]
  [:p "From: " [:show-user-minimal {:data-id "{{item.from}}"}]]
  [:p "To: " [:show-user-minimal {:data-id "{{item.to}}"}]]
  [:button.btn {:ng-click "deleteRecord(item)"} "Delete Subscription"]]]
