[:div {:title "show-activity"}
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div  {:ng-if "loaded"}
  [:debug {:expr "item"}]
  [:article.hentry.media
   [:div.media-left
    [:display-avatar {:data-id "{{item.author}}" :size "80"}]]
   [:div.media-body
    [:p
     [:a {:ui-sref "showUser({_id: item.author})"}
      "{{item.author}}"]]
    [:h3.media-heading "{{item.title}}"]
    [:ul.unstyled {:ng-if "item.mentioned"}
     [:li {:ng-repeat "user in item.mentioned"}
      [:i.icon-chevron-right]
      [:link-to {:data-id "{{user.id}}"}]]]
    [:ul
     [:li {:ng-repeat "id in item.streams"}
      [:show-stream-minimal {:data-id "{{id}}"}]]]

    [:div.entry-content
     [:div {:btf-markdown "item.content"}]]
    [:div
     [:span.posted
      "{{item.verb}}ed a {{item.object.type}} "
      [:span {:ng-if "!item.public"}
       "privately "]
      [:time {:datetime "{{item.published}}"
              :title "{{item.published}}"
              :property "dc:published"}
       [:a {:ui-sref "showActivity(item)"}
        [:span {:am-time-ago "item.published"
                :am-preprocess "utc"}]]]
      " "
      [:span {:ng-if "item.source"}
       "using {{item.source}}"
       " "]
      [:span {:ng-if "item.geo.latitude && item.geo.longitude"}
       "near ("
       [:abbr {:title "{{item.geo.latitude}}"}
        "{{item.geo.latitude | number:2}}"]
       ", "
       [:arrr {:title "{{item.geo.longitude}}"}
        "{{item.geo.longitude | number:2}}"]
       ") "]
      [:span {:ng-if "!item.local"}
       "via a "
       [:a {:href "{{item.service}}"}
        "foreign service"]
       " "]
      #_[:a {:href "/main/conversations/{{item.conversation}}"}
         "in context"]]]
    [:subpage {:name "likes" :item "item"}
     [:debug {:expr "$parent.page"}]
     [:div {:ng-if "!$parent.loaded"} [:spinner]]
     [:div {:ng-if "$parent.loaded"}
      [:div {:ng-show "$parent.$parent.page.totalItems > 0"}
       [:ul.list-unstyled
        [:li {:ng-repeat "id in $parent.$parent.page.items"}
         [:debug {:expr "id"}]
         [:show-liked-by {:data-id "{{id}}"}]]]]]]
    [:div {:ng-if "app.user"}
     [:ul.buttons
      [:li
       [:button.btn {:ng-click "likeActivity(item)"} "Like"]]
      [:li
       [:button.btn {:ng-click "deleteRecord(item)"} "Delete Activity"]]
      [:li
       [:button.btn {:ng-click "refresh()"} "Refresh"]]]]]]]]
