[:div {:data-model "group"}
 [:p "{{group.name}}"]
 [:p "{{group.homepage}}"]
 [:p "{{group.location}}"]
 [:p "{{group.aliases}}"]
 [:p "{{group.created}}"]
 [:p "{{group.updated}}"]
 [:div
  [:h3 "Admins {{group.admins.length}}"]
  [:ul
   [:li {:ng-repeat "user in group.admins"}
    [:a {:ui-sref "showUser({_id: user})"}
     "{{user}}"]]]]
 [:div
  [:h3 "Members {{group.members.length}}"]
  [:ul
   [:li {:ng-repeat "user in group.members"}
    [:a {:ui-sref "showUser({_id: user})"}
     "{{user}}"]]]]]
