[:div
 [:display-avatar {:data-id "{{id}}"}]
 [:p
  [:link-to {:data-id "{{id}}" :data-model "User"}]]
 [:p "{{user.username}}@{{user.domain}}"]
 [:p "{{user._id}}"]
 [:p "{{user.name}}"]
 [:p "{{user.uri}}"]
 [:p "{{user.bio}}"]
 [:debug {:expr "user"}]]
