[:div.well {:title "show-like"}
 [:div {:ng-hide "loaded"} [:spinner]]
 [:div {:ng-show "loaded"}
  [:debug {:expr "item"}]
  [:p "User: " [:show-user-minimal {:data-id "{{item.user}}"}]]
  [:p "To: " [:show-activity {:data-id "{{item.activity}}"}]]
  [:div.action-buttons {:ng-show "app.user"}
   [:md-button {:ng-click "deleteRecord(item)"} "Delete Like"]]]]
