[:div {:title "show-request-token"}
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:debug {:expr "item"}]
  [:show-client-minimal {:data-id "{{item.client}}"}]
  ;; [:p "User: " [:show-user-minimal {:data-id "{{item.user}}"}]]
  ;; [:p "To: " [:show-activity {:data-id "{{item.activity}}"}]]
  ;; [:button.btn {:ng-click "deleteRecord(item)"} "Delete Like"]
  ]
 ]
