[:div {:title "show-stream"}
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:debug {:expr "stream"}]
  [:p "{{stream.name}}"]
  #_[:p "{{stream.owner}}"]
  [:show-user-minimal {:data-id "{{stream.owner}}"}]
  [:list-activities {:item "stream"}]]]
