[:div {:title "show-stream"}
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:debug {:expr "item"}]
  [:p "{{item.name}}"]
  #_[:p "{{item.owner}}"]
  [:show-user-minimal {:data-id "{{item.owner}}"}]
  [:list-activities {:item "item"}]]]
