[:div {:title "show-user"}
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:md-content.vcard.user-full {:layout "row" :flex ""}
   [:debug {:expr "item"}]
   [:div
    [:display-avatar {:data-id "{{item._id}}"  :data-size "96"}]]
   [:p
    [:span.nickname.fn.n "{{item.name}}"]
    " ({{item.username}}@{{item.domain}})"]
   [:div.adr
    [:p.locality "{{item.location}}"]]
   [:p.note "{{item.bio}}"]
   [:follow-button {:item "item"}]
   [:link-to {:data-id "{{item.updateSource}}" :data-model "FeedSource"}]
   [:p [:a {:href "{{item.id}}"} "{{item.id}}"]]
   [:p [:a.url {:rel "me" :href "{{item.url}}"} "{{item.url}}"]]
   [:div.action-buttons
    [:md-button {:ng-click "deleteRecord()" :aria-label "Delete User" :ng-show "app.user"}
     [:ng-md-icon {:icon "delete"}]]]]
  [:list-streams   {:item "item" :layout "row" :flex ""}]
  [:list-followers {:item "item" :layout "row" :flex ""}]
  [:list-following {:item "item" :layout "row" :flex ""}]
  [:list-groups    {:item "item" :layout "row" :flex ""}]
  [:list-albums    {:item "item" :layout "row" :flex ""}]
  [:list-activities {:item "item" :layout "row" :flex ""}]]]
