[:span {:title "show-user-minimal"}
 [:div {:ng-hide "loaded"} [:spinner]]
 [:div {:ng-show "loaded"}
  [:debug {:expr "item"}]
  [:display-avatar {:data-id "{{item._id}}"}]
  [:a {:ui-sref "showUser(item)"}
   "{{item._id}}"]
  ;; [:p
  ;;  [:link-to {:data-id "{{id}}" :data-model "User"}]]
  ;; [:p "{{item.username}}@{{item.domain}}"]
  ;; [:p "{{item._id}}"]
  ;; [:p "{{item.name}}"]
  ;; [:p "{{item.uri}}"]
  ;; [:p "{{item.bio}}"]
  ]
 ]
