[:div {:title "show-request-token"}
 [:div {:ng-if "!loaded"} [:spinner]]
 [:div {:ng-if "loaded"}
  [:debug {:expr "item"}]
  [:show-client-minimal {:data-id "{{item.client}}"}]
  #_
  [:p "User: " [:show-user-minimal {:data-id "{{item.user}}"}]]
  #_
  [:p "To: " [:show-activity {:data-id "{{item.activity}}"}]]
  #_
  [:md-button {:ng-click "deleteRecord(item)"} "Delete Like"]]]
