[:md-sidenav {:md-component-id "left" :md-is-locked-open "$mdMedia('gt-sm')" :style "width: 200px"}
 [:md-list
  [:md-list-item {:ng-repeat "item in items" :ui-sref "{{item.ref}}"} "{{item.label}}"]
  [:md-list-item {:ng-click "logout()" :ng-if "app.user"} "Log out"]]]
