[:div
 [:h2 "Streams"]
 [:form
  [:input {:ng-bind "name"}]
  [:input.btn.btm-default {:type "submit"}]
  ]
 [:ul
  [:li {:ng-repeat "stream in user.streams.items"}
   [:code [:pre  "{{stream | json}}"]]]]]

