[:div.subscribers
 [:h3
  [:a {:href "/users/{{user._id}}/subscribers"} "Followers"]
  " {{page.items.length}}"]
 [:ul.unstyled
  [:li {:ng-repeat "subscription in page.items"}
   [:display-avatar {:data-id "{{subscription.from}}"
                     :data-size "24"}]]]]
