{namespace jiksnu.templates.push-subscription}

/**
 *
 */
{template .indexBlock}
  <table>
    {foreach $subscription in $subscriptions}
      {call .indexLine data="$subscription" /}
    {/foreach}
  </table>
{/template}

/**
 *
 */
{template .indexLine}
  <tr>
    <td>foo</td>
  </tr>
{/template}

/**
 *
 */
{template .indexSection}
  <div>
    <h3>Subscriptions</h3>
    {call .indexBlock data="all" /}
  </div>
{/template}
