/**
 * Bootstrap-Markdown.less
 *
 * @author Taufan Aditya @taufanaditya
 * @copyright 2013 Taufan Aditya
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.md-editor {
  display: block;
  border: 1px solid #dddddd;
}
.md-editor > .md-header,
.md-editor .md-footer {
  display: block;
  padding: 6px 4px;
  background: #ffffff;
}
.md-editor > .md-preview {
  background: #ffffff;
  border-top: 1px dashed #dddddd;
  border-bottom: 1px dashed #dddddd;
  min-height: 10px;
}
.md-editor > textarea {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  margin: 0;
  display: block;
  padding: 0;
  width: 100%;
  border: 0;
  border-top: 1px dashed #dddddd;
  border-bottom: 1px dashed #dddddd;
  border-radius: 0;
  box-shadow: none;
  background: #eeeeee;
}
.md-editor > textarea :focus {
  box-shadow: none;
  background: #ffffff;
}
.md-editor .active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
h1 {
  margin-bottom: 15px;
}
.post-actions li form {
  margin: 0;
}
.buttons > li {
  display: inline-block;
}
.minimal-text {
  display: none;
}
.pull-right .actions-menu {
  position: absolute;
  top: 3px;
  right: 3px;
}
.map-section {
  display: none;
}
.navbar-text {
  margin-right: 5px;
}
body {
  display: none;
}
.bound body {
  display: block;
}
.avatar-section {
  margin-right: 10px;
}
avatar {
  height: 48px;
  width: 48px;
}
.conversation-section {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
  min-height: 64px;
}
.post-form .control-group {
  margin: 0;
}
.comment {
  display: block;
  position: relative;
  padding-left: 20px;
  min-height: 64px;
}
.tags ul {
  display: inline;
  padding: 0;
}
.tags li {
  list-style-type: none;
  display: inline;
  margin-left: 1em;
}
.subscriptions ul {
  padding: 0;
  margin: 0;
}
.subscriptions li {
  display: inline-block;
  margin-right: 5px;
}
.subscriptions p {
  display: block;
}
.labels {
  display: inline-block;
  margin-left: 15px;
}
.type-line .nav {
  margin: 0;
}
.format-line {
  position: relative;
  padding-left: 30px;
}
.format-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  display: inline-block;
  /* this isn't working */

}
.format-icon img {
  margin: 0 auto;
}
.post-form legend {
  display: none;
}
.hidden {
  display: none;
}
.statistics-section tr .stat-value {
  text-align: right;
}
footer {
  text-align: center;
}
.enclosure {
  max-width: 250px;
  max-height: 250px;
}
